In [36]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [37]:
df = pd.read_csv("report.csv")
df.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TARGET
0,76.523438,34.087196,2.024270,8.131775,7.983278,36.657363,4.888890,23.675354,1
1,81.820312,35.392097,1.015847,3.733024,2.549331,21.182439,8.808881,79.950130,0
2,81.937500,35.631085,0.896465,3.331864,3.505017,18.930187,6.877126,57.212347,0
3,73.601562,37.389282,1.978300,7.076543,5.881271,30.217483,5.758598,33.909779,1
4,82.703125,38.007474,0.887824,2.544944,1.641304,13.158511,11.093668,155.044660,0

In [38]:
df["MIP"].mean()

78.24110457920793

In [39]:
df_norm = df.drop(columns=["TARGET"])
df_norm.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC
0,76.523438,34.087196,2.024270,8.131775,7.983278,36.657363,4.888890,23.675354
1,81.820312,35.392097,1.015847,3.733024,2.549331,21.182439,8.808881,79.950130
2,81.937500,35.631085,0.896465,3.331864,3.505017,18.930187,6.877126,57.212347
3,73.601562,37.389282,1.978300,7.076543,5.881271,30.217483,5.758598,33.909779
4,82.703125,38.007474,0.887824,2.544944,1.641304,13.158511,11.093668,155.044660

In [45]:
scaler = MinMaxScaler()
names = df_norm.columns
d = scaler.fit_transform(df_norm)
scaled_df = pd.DataFrame(d, columns=names)

<bound method NDFrame.to_excel of           MIP     STDIP      EKIP       SIP        MC      STDC       EKC  \
0    0.473752  0.098536  0.635829  0.557278  0.043784  0.321577  0.172704
1    0.907810  0.124678  0.247198  0.277323  0.012861  0.151203  0.286092
2    0.917414  0.129466  0.201190  0.251792  0.018300  0.126406  0.230215
3    0.234315  0.164689  0.618113  0.490119  0.031822  0.250676  0.197861
4    0.980154  0.177074  0.197859  0.201709  0.007694  0.062862  0.352181
..        ...       ...       ...       ...       ...       ...       ...
197  0.966709  0.175708  0.030583  0.188281  0.002517  0.058655  0.545449
198  0.978233  0.091261  0.242379  0.305522  0.012723  0.104883  0.275542
199  0.306658  0.191598  0.411638  0.342300  0.029200  0.241091  0.199883
200  0.942382  0.297382  0.134639  0.103030  0.011814  0.101638  0.308768
201  0.990397  0.195950  0.086799  0.167118  0.009221  0.068242  0.322768

           SC
0    0.022327
1    0.071597
2    0.051689
3    0.031288
4    0.137343
..        ...
197  0.281612
198  0.074567
199  0.031824
200  0.094685
201  0.116360

[202 rows x 8 columns]>

In [54]:
scaled_df["MIP"].mean()

0.6145079296662063

In [60]:
writer = pd.ExcelWriter('output.xlsx')
scaled_df.to_excel(writer)
writer.close()